# Connect to Supabase via connection pooling
DATABASE_URL=URL to your database

# Direct connection to the database. Used for migrations
DIRECT_URL=URL to your database
# Better Auth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Country codes
COUNTRY_API_KEY=your_country_api_key
